/*
 * Simple Currency Rates Table
 */

#erscrt2{

	margin:0;
	padding:0;

}

#erscrt2-widget {
	border:1px solid;
	background: #FFFFFF;
	/*color: #333333;*/
	width:250px;
	height:311px;
}

#erscrt2-infolink {
	padding: 5px 0;
	/*color:#333333;*/
	width:170px;
	background: none;
	font:10px/14px Arial,Helvetica,sans-serif;
	margin:0 4px 0 4px;
	text-align:center;

}
#erscrt2-infolink a, #mtcr-infolink a:visited {
	/*color: #333333;*/
	text-decoration: none;
}
#erscrt2-infolink a:hover {
	text-decoration: underline;
}
